server {
    listen       80;
    listen  [::]:80;
    server_name _;
    return 301 http://$host:82$request_uri;
}

# リダイレクト先のポート ( 一般的には 443 )
server {
    listen       82;
    listen  [::]:82;
    server_name _;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}
